In [1]:
#Install required packages
!pip install pandas numpy 
!pip install lxml

Requirement already satisfied: pandas in c:\users\rohit\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy in c:\users\rohit\anaconda3\lib\site-packages (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rohit\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\rohit\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\rohit\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\rohit\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: lxml in c:\users\rohit\anaconda3\lib\site-packages (5.2.1)

In [40]:
import numpy as np
import pandas as pd


def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn
warnings.filterwarnings('ignore')

In [42]:
 URL="https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29"

In [47]:
tables = pd.read_html(URL)
df = tables[3]
df.columns= range(df.shape[1])
df=df[[0,2]]
df=df.iloc[0:11,:]
df.columns=['country','GDP(Million USD)']
df

           country GDP(Million USD)
0            World        105568776
1    United States         26854599
2            China         19373586
3            Japan          4409738
4          Germany          4308854
5            India          3736882
6   United Kingdom          3158938
7           France          2923489
8            Italy          2169745
9           Canada          2089672
10          Brazil          2081235

In [51]:
df['GDP(Million USD)'] = df['GDP(Million USD)'].astype(int)
df[['GDP(Million USD)']] = df[['GDP(Million USD)']]/1000
df[['GDP(Million USD)']] = np.round(df[['GDP(Million USD)']], 2)
df.rename(columns = {'GDP(Million USD)' : 'GDP(Billion USD)'})

           country  GDP(Billion USD)
0            World         105568.78
1    United States          26854.60
2            China          19373.59
3            Japan           4409.74
4          Germany           4308.85
5            India           3736.88
6   United Kingdom           3158.94
7           France           2923.49
8            Italy           2169.74
9           Canada           2089.67
10          Brazil           2081.24

In [55]:
df.to_csv(r'C:\Users\rohit\OneDrive\Desktop\final project data handling\projects\web scraping and cleaning data/Largest_economies.csv')